html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.import-form {
    margin-bottom: 24px;
}

.label {
    display: block;
    color: #6c757d;
    font-weight: 500;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 1px;
}

.datetime {
    display: flex;
    gap: 12px;
}

.datetime input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nice-select.open,
.datetime input:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

select {
    display: none;
}

.nice-select {
    width: 100%;
}

.nice-select-dropdown {
    width: 100%;
}

.col-button {
    flex-basis: 206px;
}

.col-clean-button {
    flex-basis: 50px;
}

.col-clean-button img {
    width: 20px;
    height: 20px;
}

.filter-form__button {
    width: 100%;
}

.buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 24px 0 16px;
}

.table {
    border-radius: 20px;
}

.table .id {
    width: 300px;
    word-break: break-all;
}

.empty-content {
    width: fit-content;
    color: #6c757d;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    margin: 0 auto;
    padding-top: 16px;
}

.loader {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 1;
    transition: all .15s ease-in-out;
}

.loader-active {
    visibility: visible;
    opacity: 1;
}

.loader__icon {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
