
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Идентификатор студента</th>
            <th scope="col">ФИО</th>
            <th scope="col">Пол</th>
            <th scope="col">Институт</th>
            <th scope="col">Группа</th>
            <th scope="col">Курс</th>
            <th scope="col">Количество участий</th>
        </tr>
    </thead>
    <tbody>
        {% for competition in competitions %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{competition.student_id}}</td>
            <td>{{competition.student_name}}</td>
            <td>{{competition.student_sex}}</td>
            <td>{{competition.institute}}</td>
            <td>{{competition.group}}</td>
            <td>{{competition.course}}</td>
            <td>{{competition.count_participation}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
