{% extends "layout/base.html" %}

{% block content %}

<form class="import-form">
    <input type="file" name="file">
    <button type="submit" class="btn btn-primary">Загрузить файл</button>
</form>

<form class="filter-form">
    <div class="datetime">
        <input class="filter__date-from" name="date_from" type="text">
        <span>До</span>
        <input class="filter__date-to" name="date_to" type="text">
    </div>

    <select class="filter__level" name="level">
        <option value="внутривузовские">Внутривузовские</option>
        <option value="межвузовские">Межвузовские</option>
    </select>
    <select class="filter__position" name="position">
        <option value="<2">Победитель</option>
        <option value="<4">Призовое место</option>
        <option value=">3">Не призовое</option>
    </select>

    <button class="filter__button btn btn-primary" type="submit">Получить отчет</button>
</form>

<br>
<br>
<button type="button" class="clean-button btn btn-danger">Очистить базу данных</button>
<br>
<br>
<div class="content-wrapper">
    {% if competitions %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Идентификатор студента</th>
                <th scope="col">ФИО</th>
                <th scope="col">Пол</th>
                <th scope="col">Институт</th>
                <th scope="col">Группа</th>
                <th scope="col">Вид спорта</th>
                <th scope="col">Дата</th>
                <th scope="col">Уровень соревнования</th>
                <th scope="col">Название соревнования</th>
                <th scope="col">Место</th>
                <th scope="col">Курс</th>
            </tr>
        </thead>
        <tbody>
            {% for competition in competitions %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{competition.student_id}}</td>
                <td>{{competition.student_name}}</td>
                <td>{{competition.student_sex}}</td>
                <td>{{competition.institute}}</td>
                <td>{{competition.group}}</td>
                <td>{{competition.sport}}</td>
                <td>
                    {{competition.date.strftime('%d.%m.%Y')}}
                </td>
                <td>{{competition.level}}</td>
                <td>{{competition.name}}</td>
                <td>{{competition.position}}</td>
                <td>{{competition.course}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="empty-content">Нет данных</div>
    {% endif %}

    <!-- <div class="loader"></div> -->
</div>

{% endblock content %}